/* -------------------------------- 

Primary style

-------------------------------- */


html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#main-content {
  font-size: 100%;
  font-family: "Droid Serif", serif;
  color: #333;
  background-color: #F2F2F2;
}

a {
  color: #C42121;
  text-decoration: none;
  font-family: 'georgia';
}

img {
  max-width: 100%;
}

h1, h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

em {
  font-style: italic;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */

header {
  max-height: 375px;
  line-height: 200px;
  text-align: center;
  z-index: -66666666;
  background-color: #000;
}
header h1 {
  font-family:'Droid Sans';
 
margin-top:20px;
  font-size:60px;
  letter-spacing: -2px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top:19px;
  line-height: 3rem;
  padding: 10px 0;
    text-align:left;


}



header h3 {
    position: relative;
    font-family: Georgia;
    color: #FFF;

    width: 70%;
    padding-top:10px;
    line-height: 1.4rem;
    font-size: 1.1rem;
    margin-right: auto;
    margin-left: auto;
     text-align:center;

} 

header h1 span {
  color: #FFF;
 
   margin-bottom:0px;
}

header h1 img {
margin-left:10%;
}

@media only screen and (min-width: 500px) {

header {
  max-height: 375px;
  line-height: 200px;
  text-align: center;
  z-index: -66666666;

}


header h1 {
  font-family:'Droid Sans';
  
margin-top:20px;
  font-size:60px;
  letter-spacing: -2px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top:19px;
  line-height: 3rem;
  padding: 10px 0;
    text-align:center;


}

header h3 {
    position: relative;
    font-family: Georgia;
    color: #FFF;
    width: 80%;

    padding-top:10px;
    line-height: 1.4rem;
    font-size: 1.1rem;
    margin-right: auto;
    margin-left: auto;
     text-align:center;

} 

header h1 span {
  color: #FFF;
 
   margin-bottom:0px;
}

header h1 img {
margin-left:10%;
}

}

@media only screen and (min-width: 980px) {
  header {
    height: 300px;
    line-height: 300px;
  }



  header h1 img {
margin-left:10%;
}
  header h1 {
    font-size: 60px;

    letter-spacing: -1.3px;

    width: 70%;
    margin-right: auto;
    margin-left: auto;
text-align:left;
    line-height: 3.5rem;
    padding: 15px 0 ;
     text-align:center;
  }
  header h3 {
    position: relative;

    font-family: Georgia;
    color: #F2F2F2;
    width: 70%;
    line-height: 1.4rem;
    font-size: 1.25rem;
    margin-right: auto;
    margin-left: auto;
      text-align:center;
      }
}



#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 1px;
 
  background: #999;
}

.img-integ {
padding: 10px;
background-color: #ebeef4;
margin-top: 10px;
}




@media only screen and (min-width: 980px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }

}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 980px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
  .heure {
  background-color: rgb(233, 240, 245);
padding: 10px;
top: 35px;
position: relative;
text-align: center !important;
}
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.18), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-message {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}

.cd-timeline-img.cd-twitter {
  background: #000;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}

.cd-timeline-img.cd-push {
  background: #FACC2E;
}

.cd-timeline-img.cd-facebook {
  background: #3b5998;
} 


@media only screen and (min-width: 980px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}

  .heure {
background-color: #E9F0F5;
padding: 10px;
left: 8px;
position: relative;
padding-left: 0;
text-align: left;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 15px;
 
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  line-height: 1.6;
  text-align: left;
  padding-bottom: 7px;
  font-family:georgia;
}

  .cd-timeline-content #auteur{
    font-weight: bold;

    margin-top:5px;
    margin-bottom:5px;
    font-size:1.5em;
    color: black;
    line-height:100%;
    text-align: left;
  }

.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  width: 100%;
    color:#a50009;

    top: 0;
    font-size: 16px;
  
    text-align: left;
    padding: 0;
    font-family: Arial;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
    text-align: left;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
    text-align: left;
  }

  .cd-timeline-content #auteur{
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    color: black;
    font-size:1.5em;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 17px;
  }
}
@media only screen and (min-width: 980px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 0.8em 1.6em 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
   
    width: 100%;
    color:#a50009;

    top: 0;
    font-size: 17px;

    text-align: left;
    padding: 0;
    font-family: Arial;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 980px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
