body{
    background: #fff;
    color: #000;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 22.8571186065674px;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: hidden;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 100%;
}
#washington{
    box-sizing: border-box;
    background: #fff;
    color: #000;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    left: 0px;
    line-height: 22.8571186065674px;
    list-style-type: none;
    min-height: 100%;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    width: 100%;
    z-index: 2;
}
#main-header{
    box-sizing: border-box;
    position: fixed;
    background: #fff;
    z-index: 8000;
    color: rgb(0, 0, 0);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 50px;
    line-height: 22.8571186065674px;
    list-style-type: none;
    width: 100%;
}
#main-nav{
    box-sizing: border-box;
    border-bottom: 1px solid rgb(213, 213, 213);
    color: rgb(0, 0, 0);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 50px;
    line-height: 22.8571186065674px;
    list-style-type: none;
    margin-bottom: 0px;
    min-height: 50px;
    min-width: 320px;
    position: relative;
    right: auto;
    width: 100%;
    z-index: 1000;
}

.wrapper{
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 50px;
    line-height: 22.8571186065674px;
    list-style-type: none;
    padding-right: 0px;
    margin: 0 auto;
    width: 1260px;
}
@media screen and (max-width: 1260px) {
  .wrapper {
    width: 100%;
    margin: 0 0;
  }
}
.navbar-header{
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: block;
    float: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 0px;
    line-height: 22.8571186065674px;
    list-style-type: none;
    margin-left: 0px;
    margin-right: 0px;
    width: 1px;
}
.navbar-brand{
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: block;
    float: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    list-style-type: none;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 10px;
    position: absolute;
}
.navbar-brand a{
    display: block;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    height: auto;
    line-height: 20px;
    list-style-type: none;
    text-decoration: none;
    width: 90.8125px;
}
.navbar-brand a img{
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    height: 33px;
    line-height: 20px;
    list-style-type: none;
    max-height: 33px;
    max-width: 100%;
    vertical-align: top;
    width: 90.8125px;
}
section#main-content{
    position: relative;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 22.8571186065674px;
    list-style-type: none;
    width: 100%;
    padding-top: -2px;
    padding-bottom: 50px;
}
